<% provide(:title, @notice.title) %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to 'お知らせ', notices_path %></li>
  <li class="active"><%= @notice.title %></li>
</ol>
<%= render 'shared/flash' %>
<h1><%= @notice.title %></h1>
<ul class="list-unstyled notice-datetime">
  <% if @notice.updated_at != @notice.created_at %>
    <li>
      <span class="label label-default">掲載</span>
      <%= format_time(@notice.created_at) %>
    </li>
    <li>
      <span class="label label-primary">更新</span>
      <%= format_time(@notice.updated_at) %>
    </li>
  <% else %>
    <li>
      <span class="label label-primary">掲載</span>
      <%= format_time(@notice.created_at) %>
    </li>
  <% end %>
</ul>
<%= simple_format(@notice.content) %>
