<div class="form-group">
  <%= f.label :num_of_members %>
  <%= f.number_field :num_of_members, class: 'form-control', min: 1 %>
</div>
<div class="form-group">
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :at_home %>
  <%= f.select :at_home, Family.at_homes_i18n.invert, {}, class: 'form-control' %>
</div>
<%= f.submit '更新', class: 'btn btn-primary form-control' %>
