<%= render 'shared/flash' %>
<h1>避難所状況</h1>
<p>
  <span class="label label-primary">最終更新</span> <span id="shelter_data_updated_at"><%= format_time(@now) %></span>
</p>
<table class="table table-striped status">
  <tbody>
    <tr>
      <th scope="col">世帯人数の合計</th>
      <td id="num_of_refugees" class="value"><%= @num_of_refugees %></td>
    </tr>
    <tr>
      <th scope="col">登録避難者数</th>
      <td id="num_of_registered_refugees" class="value"><%= @num_of_registered_refugees %></td>
    </tr>
    <tr>
      <th scope="col">在室避難者数</th>
      <td id="num_of_present_refugees" class="value"><%= @num_of_present_refugees %></td>
    </tr>
  </tbody>
</table>
<h1>避難所情報</h1>
<table class="table table-striped status">
  <tbody>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.shelter.num') %></th>
      <td><%= @shelter.num %></td>
    </tr>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.shelter.name') %></th>
      <td><%= @shelter.name %></td>
    </tr>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.shelter.postal_code') %></th>
      <td><%= @shelter.formatted_postal_code %></td>
    </tr>
    <tr>
      <th scope="col"><%= t('activerecord.attributes.shelter.address') %></th>
      <td><%= @shelter.address %></td>
    </tr>
  </tbody>
</table>
<h1>メニュー</h1>
<div class="list-group profile-menu">
  <a href="<%= families_path %>" class="list-group-item">
    <i class="fa fa-users"></i>
    世帯
  </a>
  <a href="<%= refugees_path %>" class="list-group-item">
    <i class="fa fa-user"></i>
    登録避難者
  </a>
  <a href="<%= notices_path %>" class="list-group-item">
    <i class="fa fa-info-circle"></i>
    お知らせ
  </a>
  <a href="<%= list_of_refugees_path %>" class="list-group-item">
    <i class="fa fa-download"></i>
    避難者名簿ダウンロード
  </a>
  <a href="<%= shelter_edit_path %>" class="list-group-item">
    <i class="fa fa-home"></i>
    避難所情報
  </a>
</div>
