<% provide(:title, '個人情報の登録・修正') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li class="active">個人情報の登録・修正</li>
</ol>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-xs-12">
    <h1>個人情報の登録・修正</h1>
    <p>避難者カードに記載されている番号を入力してください。</p>

    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label(:refugee_num, '番号') %>
        <%= f.text_field(:refugee_num, class: 'form-control', required: true) %>
      </div>

      <%= f.submit('次へ', class: 'btn btn-primary form-control') %>
    <% end %>
  </div>
</div>
