<%= render 'shared/flash' %>
<% unless refugee_logged_in? %>
  <div class="register well">
    <p>避難者名簿作成のため、個人情報の登録をお願いします。</p>
    <p><%= link_to(fa_icon('user', text: '個人情報の登録・修正'), login_path, class: 'btn btn-primary btn-lg btn-block') %></p>
  </div>
<% end %>
<div class="news">
  <h1>最新のお知らせ</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>日時</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @notices.each do |n| %>
        <tr>
          <td><%= format_time(n.updated_at) %></td>
          <td><%= link_to n.title, notice_path(n) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to fa_icon('info-circle', text: 'すべてのお知らせ'), notices_path, class: 'btn btn-default btn-block' %></p>
</div>
<% if refugee_logged_in? %>
  <div class="menu">
    <h1>メニュー</h1>
    <div class="list-group profile-menu">
      <%= link_to fa_icon('user', text: '個人情報'), profile_path, class: 'list-group-item' %>
      <%= link_to fa_icon('home', text: '世帯情報'), family_path, class: 'list-group-item' %>
    </div>
  </div>
<% end %>
