<div class="row">
  <div class="col-xs-12">
    <div class="register well">
      <p>避難者名簿作成のため、個人情報の登録をお願いします。</p>
      <p><%= link_to(fa_icon('user', text: '個人情報の登録・修正'), login_path, class: 'btn btn-success btn-lg btn-block') %></p>
    </div>

    <% if Subdomain::Admin.matches?(request) %>
      <div class="admin">
        <h1>スタッフ向け</h1>
        <ul>
          <li><%= link_to '避難者数確認', refugees_count_path %></li>
          <li><%= link_to '避難者一覧', refugees_path %></li>
        </ul>
      </div>
    <% end %>

    <div class="news">
      <h1>お知らせ</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>日時</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Time.new.strftime('%F %T') %></td>
            <td><%= link_to 'ポリテクカレッジ浜松避難所が開設されました', '#' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
