<% provide(:title, '世帯') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li class="active">世帯</li>
</ol>
<%= render 'shared/flash' %>
<h1>世帯</h1>
<table class="table table-striped families-list">
  <thead>
    <th class="family_leader_num">代表者番号</th>
    <th class="family_leader_name">代表者名</th>
    <th class="family_num_of_members">人数</th>
  </thead>
  <tbody>
    <% @families.each do |f| %>
      <% leader = f.leader %>
      <tr>
        <td class="family_leader_num"><%= link_to leader.barcode.code, f %></td>
        <td class="family_leader_name"><%= leader.name %></td>
        <td class="family_num_of_members"><%= f.num_of_members %></td>
      </tr>
    <% end %>
  </tbody>
</table>
