<% provide(:title, '世帯情報') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li class="active">世帯情報</li>
</ol>
<%= render 'shared/flash' %>
<h1>世帯情報</h1>
<table class="family-profile table table-striped">
  <tbody>
    <tr>
      <% if @leader.name.empty? %>
        <th>世帯代表者の番号</th>
        <td id="leader_num"><%= @leader.barcode.code %></td>
      <% else %>
        <th>世帯代表者</th>
        <td id="leader_name"><%= @leader.name %></td>
      <% end %>
    </tr>
    <tr>
      <th>人数</th>
      <td><%= @family.num_of_members %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @family.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @family.address %></td>
    </tr>
    <tr>
      <th>在宅避難</th>
      <td><%= @family.at_home_i18n %></td>
    </tr>
  </tbody>
</table>
<div class="list-group profile-menu">
  <a href="<%= edit_family_path(@family) %>" class="list-group-item">
    <i class="fa fa-pencil"></i>
    世帯情報の修正
  </a>
</div>
<h1>メンバー</h1>
<table class="table table-striped">
  <thead>
    <th class="refugee_num">番号</th>
    <th class="refugee_name">名前</th>
  </thead>
  <tbody>
    <% @members.each do |m| %>
      <tr>
        <td class="refugee_num"><%= link_to m.barcode.code, m %></td>
        <td class="refugee_name"><%= m.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
