<% provide(:title, '世帯情報の修正') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to '世帯情報', family_path %></li>
  <li class="active">世帯情報の修正</li>
</ol>
<%= render 'shared/flash' %>
<h1>世帯情報</h1>
<%= form_for(@family, url: family_update_path) do |f| %>
  <%= render 'shared/error_messages', target: @family %>
  <%= render 'shared/families/edit_form_contents', f: f %>
<% end %>
