<% provide(:title, '基本情報') %>
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><%= link_to 'ホーム', root_path %></li>
      <li><%= link_to '個人情報', profile_path %></li>
      <li class="active">基本情報</li>
    </ol>
  </div>
</div>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-xs-12">
    <h1>基本情報</h1>
  </div>
</div>
<%= form_for(@refugee, url: profile_basic_info_path) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/error_messages', target: @refugee %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :furigana %>
        <%= f.text_field :furigana, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :gender %>
        <% gender_map = Refugee.genders_i18n.values.zip(Refugee.genders.values) %>
        <%= f.select :gender, options_for_select(gender_map, selected: @refugee[:gender]), {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :age %>
        <%= f.number_field :age, class: 'form-control', min: 0 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to '戻る', profile_path, class: 'btn btn-default btn-block', role: 'button' %>
    </div>
    <div class="col-xs-6">
      <%= f.submit '更新', class: 'btn btn-primary form-control' %>
    </div>
  </div>
<% end %>
