<% provide(:title, '基本情報') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to '個人情報', profile_path %></li>
  <li class="active">基本情報</li>
</ol>
<%= render 'shared/flash' %>
<h1>基本情報</h1>
<%= form_for(@refugee, url: profile_basic_info_path) do |f| %>
  <%= render 'shared/error_messages', target: @refugee %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :furigana %>
    <%= f.text_field :furigana, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <% gender_map = Refugee.genders_i18n.values.zip(Refugee.genders.values) %>
    <%= f.select :gender, options_for_select(gender_map, selected: @refugee[:gender]), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: 'form-control', min: 0 %>
  </div>
  <%= f.submit '更新', class: 'btn btn-primary form-control' %>
<% end %>
