<div class="row">
  <div class="col-xs-12">
    <h1>個人情報の修正</h1>
    <%= form_tag do %>
      <div class="form-group">
        <%= label_tag :num, '番号' %>
        <p><%= '%03d%04d' % [19, @refugee.id] %></p>
      </div>
      <div class="form-group">
        <%= label_tag :name, '名前' %>
        <%= text_field_tag :name, @refugee.name, class: 'form-control' %>
      </div>
      <%= button_tag '修正', type: 'submit', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
