<% provide(:title, '避難者一覧') %>
<ol class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li class="active">避難者一覧</li>
</ol>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-xs-12">
    <h1>避難者一覧</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>番号</th>
          <th>名前</th>
          <th>ふりがな</th>
        </tr>
      </thead>
      <tbody>
        <% @refugees.each do |r| %>
          <tr>
            <td><%= Barcode.from_id(19, r.id).code %></td>
            <td><%= r.name %></td>
            <td><%= r.furigana %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= link_to fa_icon('home', text: 'ホーム'), root_path, class: 'btn btn-default btn-block' %></p>
  </div>
</div>
