<div class="row">
  <div class="col-xs-12">
    <h1>個人情報の登録</h1>
  </div>
</div>

<%= form_for(@refugee) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= label_tag :num, '番号' %>
        <p><%= @refugee_num %></p>
        <%= f.hidden_field :id %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :furigana %>
        <%= f.text_field :furigana, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to '戻る', refugees_input_num_path, class: 'btn btn-default btn-block', role: 'button' %>
    </div>
    <div class="col-xs-6">
      <%= f.submit '登録', class: 'btn btn-success form-control' %>
    </div>
  </div>
<% end %>
